html
  head
    title Petanca League
    link(rel="stylesheet", href="/css/style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header
      block nav 
        nav       
          ul 
            a(href="/")
                li Inicio
            a(href="/players")
                li Jugadores
            if auth
              a(href="/users")
                li Usuarios
              a(href="/logout")
                li Logout
            else
              a(href="/login")
                li Login
              a(href="/register")
                li Registrarse

    main
      block content
    footer