extends layout

block content
  h1 Nuevo Jugador

  form(action='/players', method='POST')
    label(for='name') Nombre:
    input(type='text', name='name', id='name')
    br

    label(for='last_name') Apellido:
    input(type='text', name='last_name', id='last_name')
    br

    label(for='age') Edad:
    input(type='number', name='age', id='age')
    br

    label(for='idteam') Equipo:
    select(name='idteam', id='idteam')
      option(value=0) Sin equipo
      each team in teams
        option(value=team.idteam)= team.name
    br
    input(type='hidden', name='password', value='mi-contraseña')

    button(type='submit') Crear