extends ../layout

block content
    h1 Editar usuario
    if userToEdit.avatar
            img(src=`${userToEdit.avatar}`, alt="avatar", class="avatar")
    else
            img(src="/img/default-avatar.jpg", alt="avatar", class="avatar")
    form(action=`/users/user/edit/${userToEdit._id}`, method="post", enctype="multipart/form-data")
        label(for="username") Usuario
        input(type="text", name="username", id="username", value=`${userToEdit.username}`, required)
        br
        label(for="email") Email
        input(type="email", name="email", id="email", value=`${userToEdit.email}`, required)
        br
        label(for="role") Rol
        select(name="role", id="role")
            
            option(value="user", selected=(userToEdit.role === "user") ) User
            option(value="admin", selected=(userToEdit.role === "admin")) Admin
        br
        label(for="password") Cambiar contraseña
        input(type="password", name="password", id="password")
        br
        label(for="image") Imagen
        
        input(type="file", name="image", id="image")
        br
        input(type="submit", class="btn edit", value="Editar")
    a(href="/users")
        button(class="btn") Volver